.card.fadeIn200ms.members
  .card-header.ch-alt(esn-header-sticky)
    group-selection-select-all(ng-show="$ctrl.elements.length", items="$ctrl.elements")
    group-member-list-selection-header(group="$ctrl.group", members="$ctrl.elements", total="$ctrl.group.members.length")
    div(group-selection-hide-on-selecting)
      h2.title {{ 'Members' | translate }}
        span.hidden-md(ng-if="$ctrl.group.members.length") ({{$ctrl.elements.length}}/{{$ctrl.group.members.length}})
        span.hidden-xs(ng-if="$ctrl.group.members.length") ({{ 'showing %s of %s' | translate:$ctrl }})
      button.btn.bgm-blue.btn-float.waves-effect(ng-click="$ctrl.onAddMembersBtnClick()")
        i.mdi.mdi-plus
  .card-body
    infinite-list(load-more-elements='$ctrl.loadMoreElements()', scroll-inside-container="$ctrl.scrollInsideContainer")
      .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length > 0")
        .lv-body
          .lv-item.p-0(ng-repeat="member in $ctrl.elements")
            group-member-list-item(member='member')
      .empty-message(ng-if="!$ctrl.elements.length && $ctrl.infiniteScrollCompleted")
        | {{ 'No member' | translate }}
      div(ng-if='$ctrl.infiniteScrollDisabled')
        .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
