div(ng-switch="$ctrl.member.objectType")
  group-member-list-item-user(ng-switch-when="user", member="$ctrl.member")
  group-member-list-item-email(ng-switch-when="email", member="$ctrl.member")
  group-member-list-item-group(ng-switch-when="group", member="$ctrl.member")
