.row.flex-vertical-centered(ui-sref=".display({ groupId: $ctrl.group.id })")
  .col-md-4.col-xs-6.lv-title
    h5.ellipsis(title="{{::$ctrl.group.name}}") {{::$ctrl.group.name}}
  .col-md-5.col-xs-5.ellipsis
    a(ng-href='mailto:{{::$ctrl.group.email}}', op-inbox-compose, title="{{::$ctrl.group.email}}")
      | {{::$ctrl.group.email}}
  .col-md-3.hidden-xs.lv-title
    span {{::$ctrl.group.members.length}} {{ 'member(s)' | translate }}
.lv-actions.actions
  a(href="", data-toggle="dropdown", aria-expanded="false")
    i.mdi.mdi-dots-vertical
  ul.dropdown-menu.dropdown-menu-right
    li
      a(href="", esn-modal-launcher="/group/app/delete/group-delete.html") {{ 'Delete' | translate }}
