.flex-vertical-centered(ng-if="$ctrl.isSelecting()")
  h2.title
    | {{ '%s/%s members selected' | translate }}
    
  ul.actions 
    li
      a(href="", esn-modal-launcher="/group/app/member/list/selection-header/modal/remove-members.html", title="{{ 'Remove' | translate }}")
        i.mdi.mdi-delete
