ng-form(name="form")
  .row.p-l-15.p-r-15
    esn-form-group(label="{{ 'Name' | translate }}")
      input.form-control(type="text", ng-model="$ctrl.group.name", name="groupName", required)
  .row.p-l-15.p-r-15.p-t-10
    esn-email-input(
      form="form",
      email="$ctrl.group.email",
      domain-name="$ctrl.domainName"
      availability-checker="$ctrl.emailAvailabilityChecker(email)"
    )
  .row(ng-if="!$ctrl.updateMode")
    .col-xs-6
      h5 {{ 'Members' | translate }}
  .row(ng-if="!$ctrl.updateMode")
    group-member-auto-complete(new-members="$ctrl.newMembers", group="$ctrl.group")
