.card
  group-list-search(on-query="$ctrl.search(query)", on-clear="$ctrl.clearSearch()")

  infinite-list.lv-body(load-more-elements='$ctrl.loadMoreElements()')
    .listview.lv-bordered.lv-lg(ng-if="$ctrl.elements.length > 0")
      group-list-item.lv-item.p-0.clickable(
        ng-repeat="group in $ctrl.elements",
        group='group',
        on-delete-btn-click="$ctrl.deleteGroup(group)"
      )
  .empty-message(ng-if="!$ctrl.elements.length && $ctrl.infiniteScrollCompleted")
    .icon-svg(ng-include="'group/images/group-icon.svg'")
    .message
      | {{ 'No mailing list' | translate }}
  div(ng-if='$ctrl.infiniteScrollDisabled')
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

fab(icon="plus", ng-click="$ctrl.onCreateBtnClick()")
