a.lv-item.menu-item(ng-if="$ctrl.displayIn === 'domain'", href="", ui-sref="admin.domain.groups", ui-sref-active="selected")
  i.mdi.mdi-google-circles-communities
  .menu-title {{ 'Mailing lists' | translate }}
