button.btn.btn-link.hidden-xs(href='', esn-back-button='group.list')
  .flex-vertical-centered
    i.mdi.mdi-arrow-left.mdi-margin-right
    span {{ 'Back' | translate }}
button.btn.btn-link.btn-icon.visible-xs(href='', esn-back-button='group.list')
  i.mdi.mdi-arrow-left
